:root {
    /* Las variables en CSS se definen con doble guion --variable-1 */
    --main-bg-color: #393f49;
    --white-color: whitesmoke;
    --blue-color: #61dbfb;
    --grey-color: #8d9196;
    --green-color: #61e786;
    --red-color: #dc3545;
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--white-color);
}

body {
    font-family: Roboto; 
    background-color: var(--main-bg-color);
    width: 100%;
    /* border: 1px dashed red; */
}

main {
    /* border: 1px dashed greenyellow; */
    width: 80%;
    margin: 0 auto;
}

#titulo-ppal {
    margin-top: 16px;
}

/* Para selecionar un elemento por ID se utiliza el signo "#" al principio del nombre de id */
#contador-tareas-pendientes {
    color: var(--blue-color);
    font-size: 12px;
}

.new-task-form {
    margin-top: 24px;
}

/* Para seleccionar elementos por la propiedad class lo hacemos agregando un "." al principio del nombre de la clase */
.caja-de-text {
    width: 306px;
    height: 39px;
    border-radius: 5px;
    color: black;
    padding: 0 12px; /* Modificar por direccion arriba-abajo izquierda-derecha */
}

.boton {
    height: 37px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 0 12px 0 12px; /* Modificar las 4 propiedades arriba derecha abajo izquierda como las manesillas del reloj */
}

.submit-button {
    background-color: var(--blue-color);
}

.clear-button {
    background-color: var(--red-color);
}

.tasks-list {
    list-style: none;
    margin-top: 24px;
    max-width: 500px;
}

.task-list-item {
    display: flex;
    margin-top: 16px;
}

.task-description {
    padding-left: 8px;
    margin-right: auto;
}

.button-list {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.button-list > i {
    font-size: 20px;
    transition: all 0.3s ease-in;
}

.fa-circle-check:hover {
    color: var(--green-color);
}